.venv/
.venv*/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.env
.local/
*.egg-info/
build/
dist/
htmlcov/
.coverage
.vscode/
.idea/
.python-version
.DS_Store
Thumbs.db
config/*.yaml
!config/*.example.yaml
config/environments/*.yaml
!config/environments/*.example.yaml
config/connections/*.yaml
!config/connections/*.example.yaml
**/.pbi/localSettings.json
**/.pbi/cache.abf
